%section
  = to_markup 'title_and_breadcrumb', {title: title, nav: nav}

  %h3#cpu_model= I18n.t('system.processor') + ' : '
  %p#load1min.meter
    %span.desc= '1 min'
    %span.info= '0.00'
    %meter{value: 0, min: 0, max: 100, low: 80, high: 90, optimum: 50, title: '0 %'}
  %p#load5min.meter
    %span.desc= '5 min'
    %span.info= '0.00'
    %meter{value: 0, min: 0, max: 100, low: 80, high: 90, optimum: 50, title: '0 %'}
  %p#load15min.meter
    %span.desc= '15 min'
    %span.info= '0.00'
    %meter{value: 0, min: 0, max: 100, low: 80, high: 90, optimum: 50, title: '0 %'}

  %h3= I18n.t('system.memory')
  %p#ram.meter
    %span.desc= 'RAM'
    %span.info= '0 M' + I18n.t('system.byte_abbrev') + ' ' + I18n.t('system.out_of') + ' 0 M' + I18n.t('system.byte_abbrev')
    %meter{value: 0, min: 0, max: 100, low: 80, high: 90, optimum: 50, title: '0 %'}
  %div#swaps.loading

  %h3= I18n.t('system.storage')
  %div#storage.loading
