/**
 * system/style.css
 * Design for the System module of the IntraNet.
 */

/******************************* System monitor *******************************/

p.meter {
    margin: 0px 50px 2em; /* top sides bottom */
}
p.meter span {
    display: inline-block;
    margin: 0px 8px;
}
p.meter span.desc {
    float: left;
}
p.meter span.info {
    float: right;
}

/* Mobile devices only */
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
    p.meter {
        width: auto;
    }
}

meter {
    width: 100%;
    height: 1.6em;
    border-radius: 0.8em;
    background: none; /* required to get rid of default style */
    background-color: #eaeaea;
}
:-moz-meter-optimum::-moz-meter-bar {
    background: #8bcf69;
    border-radius: inherit;
    transition: 1s width;
}
:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #e6d450;
    border-radius: inherit;
    transition: 1s width;
}
:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #f28f68;
    border-radius: inherit;
    transition: 1s width;
}

canvas {
    width: 100%;
}

